<div class="container mt-4">
  <h2>Add Product</h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name" />
    </div>
    <div class="mb-3">
      <label>Price</label>
      <input type="number" class="form-control" formControlName="price" />
    </div>
    <div class="mb-3">
      <label>Stock</label>
      <input type="number" class="form-control" formControlName="stock" />
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>
